# 데이터베이스 프로그래밍

### 연결 객체 생성하기
* 데이터베이스에 연결하려면 연결 객체를 통해서 한다.
* 데이터베이스 모듈은 connect() 생성자를 지원한다.
```python
connect(parameters...)
```
### sqlite3 

#### 데이터 베이스에 연결하기
* 데이터베이스에 연결하는 객체 생성은 connect() 함수로 한다.

#### 연결 객체 생성

In [52]:
import sqlite3
conn = sqlite3.connect("pets.db")    # pets.db 생성
conn

#### 커서 객체를 얻기
#### cursor()    : 커서 객체를 생성한다.

In [53]:
cursor = conn.cursor()
cursor

#### sqlite3 모듈의 버전 정보 확인

In [54]:
sqlite3.sqlite_version_info

(3, 8, 3, 1)

In [55]:
cursor.execute('SELECT sqlite_version()').fetchone()[0]

'3.8.3.1'

### SQL 문 실행하기
#### 테이블 만들기/ 없애기

* 기존에 테이블이 있는지 확인하고, 존재한다면 테이블 제거

#### execute(operation[, parameters]) : 데이터베이스 질의나 명령을 실행
#### commit()    : 데이터베이스에 보류 중인 트랜잭션을 커밋한다.

In [56]:
cursor.execute("DROP TABLE IF EXISTS pets")
conn.commit()

OperationalError: database is locked

* 테이블 만들기

In [ ]:
cursor.execute('''CREATE TABLE pets (
    name VARCHAR(20),
    owner VARCHAR(20),
    species VARCHAR(20),
    sex CHAR(1),
    birth DATE,
    death DATE)''')

#### 레코드 삽입하기
* 테이블에 데이터 추가

In [ ]:
cursor.execute("INSERT INTO pets VALUES ('누룽이', '노선화', '고양이', '암컷', '1993-02-04', NULL)")

#### SQL 스크립트 실행하기
* 여러 개의 SQL 문으로 구성된 스크립트를 한 번에 실행하려면 executescript() 메서드 사용

In [ ]:
cursor.executescript("""
INSERT INTO pets VALUES ('하늘이', '서규희', '고양이', '수컷', '1994-03-17', NULL);
INSERT INTO pets VALUES ('나미', '노선화', '강아지', '암컷', '1989-05-13', NULL);
INSERT INTO pets VALUES ('스누피', '복현선', '강아지', '수컷', '1990-08-27', NULL);
INSERT INTO pets VALUES ('달키', '진신욱', '강아지', '수컷', '1989-08-31', NULL);
INSERT INTO pets VALUES ('찰리', '곽소희', '비둘기', '암컷', '1998-09-11', NULL);
INSERT INTO pets VALUES ('Whistler', '곽소희', '비둘기', '암컷', '1997-12-09', NULL);
INSERT INTO pets VALUES ('샹크스', '태하진', '뱀', '수컷', '1996-04-29', NULL);
""")

#### 레코드 삽입이 끝나면 commit() 메서드로 트랜잭션을 커밋

In [ ]:
conn.commit()

#### 레코드 검색

In [57]:
cursor.execute('select * from pets')

#### 질의를 해서 얻은 결과 레코드를 읽어 보기
#### fetchone() : 결과 레코드를 한 개 가져온다.

In [58]:
cursor.fetchone()

('누룽이', '노선화', '고양이', '암컷', '1993-02-04', None)

#### fetchmany(n) : 결과 레코드를 n개 가져온다.

In [59]:
for rec in cursor.fetchmany(3):
    print(rec)

('하늘이', '서규희', '고양이', '수컷', '1994-03-17', None)
('나미', '노선화', '강아지', '암컷', '1989-05-13', None)
('스누피', '복현선', '강아지', '수컷', '1990-08-27', None)

#### fetchall() : 나머지 결과 레코드를 가져온다.

In [60]:
for rec in cursor.fetchall():
    print(rec)

('달키', '진신욱', '강아지', '수컷', '1989-08-31', None)
('찰리', '곽소희', '비둘기', '암컷', '1998-09-11', None)
('Whistler', '곽소희', '비둘기', '암컷', '1997-12-09', None)
('샹크스', '태하진', '뱀', '수컷', '1996-04-29', None)

* 테이블 없애기

#### close() : 커서 객체를 닫는다.

In [80]:
cursor.execute('DROP TABLE pets')
cursor.close()

In [77]:
conn = sqlite3.connect("pets_2.db")    # pets.db 생성
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS pets")
cursor.execute('''CREATE TABLE pets (
    name VARCHAR(20),
    owner VARCHAR(20),
    species VARCHAR(20),
    sex CHAR(1),
    birth DATE,
    death DATE)''')
cursor.execute("INSERT INTO pets VALUES ('누룽이', '노선화', '고양이', '암컷', '1993-02-04', NULL)")
cursor.executescript("""
INSERT INTO pets VALUES ('하늘이', '서규희', '고양이', '수컷', '1994-03-17', NULL);
INSERT INTO pets VALUES ('나미', '노선화', '강아지', '암컷', '1989-05-13', NULL);
INSERT INTO pets VALUES ('스누피', '복현선', '강아지', '수컷', '1990-08-27', NULL);
INSERT INTO pets VALUES ('달키', '진신욱', '강아지', '수컷', '1989-08-31', NULL);
INSERT INTO pets VALUES ('찰리', '곽소희', '비둘기', '암컷', '1998-09-11', NULL);
INSERT INTO pets VALUES ('Whistler', '곽소희', '비둘기', '암컷', '1997-12-09', NULL);
INSERT INTO pets VALUES ('샹크스', '태하진', '뱀', '수컷', '1996-04-29', NULL);
""")
conn.commit()
cursor.execute('select * from pets')
cursor.fetchone()

('누룽이', '노선화', '고양이', '암컷', '1993-02-04', None)

#### 데이터 수정

In [78]:
cursor.execute("UPDATE pets SET owner = '태하진'")
conn.commit()
cursor.execute('select * from pets')
cursor.fetchone()

('누룽이', '태하진', '고양이', '암컷', '1993-02-04', None)

#### 데이터 삭제

In [79]:
cursor.execute("DELETE FROM pets WHERE species = '고양이'")
conn.commit()
cursor.execute('select * from pets')
for rec in cursor.fetchall():
    print(rec)

('나미', '태하진', '강아지', '암컷', '1989-05-13', None)
('스누피', '태하진', '강아지', '수컷', '1990-08-27', None)
('달키', '태하진', '강아지', '수컷', '1989-08-31', None)
('찰리', '태하진', '비둘기', '암컷', '1998-09-11', None)
('Whistler', '태하진', '비둘기', '암컷', '1997-12-09', None)
('샹크스', '태하진', '뱀', '수컷', '1996-04-29', None)